anyio==4.6.2.post1
av==13.1.0
depthai==2.29.0.0
fastapi==0.115.5
numpy==2.1.3
Pillow==11.0.0
PyYAML==6.0.2
PyYAML==6.0.2
uvicorn==0.32.1
python-multipart==0.0.17
websockets==14.1
python-dotenv==1.0.1
asyncowfs@git+https://github.com/UniPiTechnology/asyncowfs
pymodbus@git+https://github.com/martyy665/pymodbus@fix-tid-overflow